# colcon
build/
install/
log/

# cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
install_manifest.txt

# compiled
*.o
*.a
*.so
*.so.*
*.dylib
*.dll

# editor / system
.cache/
*.swp
*.bak
*.tmp
